
@model Education

@{
    ViewData["Title"] = "Education";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h2>Education Information</h2>

<p>Hello guest</p>

<p>University: @Model.University</p>
<p>Start Year: @Model.StartYear</p>
<p>Expected Year of Graduation: @Model.ExpectedGraduation</p>





